{% extends "survey/base.html" %}
{% load static %}
{% block content %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
 </script>

<div id="survey_question" class="content-section mt-3">
	<div id="loading">
		<h6>Loading...</h6>
	</div>
</div>

<div id="error" class="alert alert-warning mt-3" role="alert"></div>

<div class="mt-3">
	<input type="hidden" id="prompted" value="0"/>
	<button id="next_button" class="btn btn-block btn-primary" type="submit">NEXT >> </button>
</div>

{% if survey.study_id.test_account == 1 %}
<div id="debug" class="bg-light text-dark mt-5 pl-2">
	<p>
	<strong>Debug:</strong><br/>
	{{ survey.study_id.first_name }} {{ survey.study_id.last_name }} ({{ survey.study_id.pk }})<br/>
	Survey {{ survey.survey_num }}<br/>
	Survey starts @ {{ survey.start_datetime }}<br/>
	Survey expires @ {{ survey.end_time }}<br/>
	Survey language in {{ survey.study_id.lang }}<br/>
	Recruited by {{ survey.study_id.recruited_by.first_name }} @ {{ survey.study_id.recruited_location }}<br/>
	</p>
</div>
{% endif %}

<script>
(function($) {
	$.ajaxSetup({ 
		data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
	});

	$(document)
	.ajaxStart(function () {
		$('#loading').show();
	})
	.ajaxStop(function () {
		$('#loading').hide();
	});

	$(document).ready(function() {
		$('#loading').show();
		$('#error').hide();
		{% if survey.status > 1 %}
			$('#survey_question').html('<h5>{{ survey.status_details }}</h5>');
			$('#next_button').hide();
		{% else %}
			$('#loading').show();
			$('#survey_question').load('/static/survey/{{ survey_question }}.html', function () {
				if ($('#first_name').length ) {
					$('#first_name').html('{{ survey.study_id.first_name }}');
				}
				if ($('#survey_endtime').length ) {
					$('#survey_endtime').html('{{ survey.end_time }}');
				}
				if ($('#recruited_location').length ) {
					$('#recruited_location').html('{{ survey.study_id.recruited_location }}');
				}
				if ($('#special_insert').length ) {
					$('#special_insert').html('{{ next_question_data }}');
				}
			});
			$('#next_button').show();
		{% endif %}
		$('#loading').hide();
 	});
	
	// When Next button is clicked
	$("#next_button").click(function(){

		var question = document.getElementById("question").value;
		var question_response = document.getElementById("question_response").value;
		
		// Error checking
		var prompted = parseInt(document.getElementById('prompted').value, 10);
		// Forcing response for Week 4 questions q_41, q_41a, q_42, q_42a, q_43
		if ( ["q_41", "q_41a", "q_42", "q_42a", "q_43"].indexOf(question)  > -1 ) {
			prompted = 0;
		}
		if (question_response == "-1") {
			// Not previosly prompted
			if (prompted == 0) {
				{% if survey.study_id.language == 'es' %}
					$('#error').html('Por favor provea una respuesta');
				{% else %}
					$('#error').html('Please provide an answer');
				{% endif %}
				$('#error').show();
				prompted = isNaN(prompted) ? 0 : prompted;
				prompted++;
				document.getElementById('prompted').value = prompted;
				return;
			} else {
				// Setting question_response = "-2". Status = Skipped
				question_response = "-2";
			}
		}
		console.log('Response to question ' + question + '= ' + question_response)
		$('#error').hide();
				
		// Submitting answer to current question		
		$.post("{% url 'survey' survey_key=survey.survey_key %}", {
			question: question,
			question_response: question_response,
		}, function(data) {
			// Loading next question
			console.log(data)
			if ( data.survey_status > 1) {
				$('#survey_question').html('<h5>' + data.survey_status_details + '</h5>');
				$('#next_button').hide();
			} else {
				var survey_question_url = '/static/survey/' + data.survey_question + '.html';
				$('#survey_question').load(survey_question_url, function () {
					if ($('#recruited_location').length ) {
						// TODO: THIS SHOULD NOT WORK? SEND VIA DATA.RECRUITED_LOCATION INSTEAD??
						$('#recruited_location').html('{{ survey.study_id.recruited_location }}');
					}
					if ($('#special_insert').length ) {
						$('#special_insert').html(data.next_question_data);
					}
				});
				$('#next_button').show();
				// Setting prompted = 0 for each new question
				document.getElementById('prompted').value = 0;
			}
		});
  	});

})(jQuery);

</script>

{% endblock content %}
