{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'home/custom.css' %}">
    <link rel="stylesheet" href="{% static 'subjects/subjects.css' %}">

    <link rel="shortcut icon" href="{% static 'home/favicon.ico' %}">

    {% if title %}
		<title>NGStudy - {{ title }}</title>
	{% else %}
		<title>NG Study</title>
	{% endif %}
  </head>
  <body class="d-flex flex-column sticky-footer-wrapper">
  	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/dashboard/"><img src="{% static 'home/uscstudy_logo.png' %}" style="height:30px;" class="d-inline-block align-top" alt=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					{% if user.is_authenticated %}
						<li class="nav-item">
					    	<a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
						</li>
					{% endif %}
				</ul>
				<ul class="navbar-nav">
					{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'dashboard' %}">{{ user.first_name }} {{ user.last_name }}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'logout' %}">Logout</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'login' %}">Login</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</header>
    <main class="flex-fill"> 
    	<div class="container">
        {% if messages %}
            {% for message in messages %}
				<div class="alert alert-{{ message.tags }}">
					{{ message }}
				</div>
            {% endfor %}
		{% endif %}
        {% load tz %}
        {% timezone "US/Pacific" %}
			{% block content %}
			{% endblock %}
        {% endtimezone %}
		</div>
	</main>
    <footer class="footer mt-auto py-3">
		<div class="container" style="text-align:center;">
			<span>For USC Study Staff Only. Any unauthorized activity will be logged and reported.</span>
		</div>
	</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
