{% extends "home/base.html" %}
{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="content-section mt-4">
<ul>
	<li>Study Status:
		<ul>
			<li><a href="{% url 'subjects_dashboard' %}">Cohort 2 - Started Monday, June 10th 2019</a></li>
		</ul>
	</li>
	<li>Participants:
		<ul>
			<li><a class="text-danger" href="{% url 'subjects_recruit' %}"><strong>Enroll</strong></a></li>
			<li><a href="{% url 'subjects_all' %}">Current</a></li>
		</ul>
	</li>
	<li>Messages:
		<ul>
			<li><a href="{% url 'sms_inbox' %}">Incoming</a></li>
			<li><a href="{% url 'sms_queue' %}">Scheduled To Be Sent</a></li>
			<li><a href="{% url 'sms_sent' %}">Previously Sent</a></li>
		</ul>
	</li>
	<!-- <li><a href="{% url 'all_links' %}">Shortened Links</a></li> -->
	<li>Survey:
		<ul>
			<li><a href="{% url 'survey_test' %}">Test</a></li>
			<li><a href="#">Generate Survey Links</a> (TODO)</li>
		</ul>
	</li>
	<li>Data (coming soon):
		<ul>
			<li><a href="#">Download Survey Data</a> (TODO)</li>
			<li><a href="#">Download Payment Data for yyyy-mm-dd</a> (TODO)</li>
		</ul>
	</li>
	<li>Administration:
		<ul>
			<li><a href="#">System Settings</a> (TODO)</li>
		</ul>
	</li>
</ul>
</div>
{% endblock content %}
