{% extends "home/base.html" %}
{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="content-section mt-4">
<ul>
	<li>Study Status: <span class="badge badge-success">New</span>
		<ul>
			<li><a href="{% url 'subjects_dashboard' 2 %}">Wave 2</a> - Started Mon, June 10th</li>
			<li><a href="{% url 'subjects_dashboard' 200 %}">Wave 2 (Testers)</a> - Started Mon, June 10th</li>
			<li><a href="{% url 'subjects_dashboard' 3 %}">Wave 3</a> - Started Mon, June 17th</li>
			<li><a href="{% url 'subjects_dashboard' 4 %}">Wave 4</a> - Started Mon, June 24th</li>
			<li><a href="{% url 'subjects_dashboard' 5 %}">Wave 5</a> - Started Mon, July 1st</li>
			<li><a href="{% url 'subjects_dashboard' 6 %}">Wave 6</a> - Started Mon, July 8th</li>
			<li><a href="{% url 'subjects_dashboard' 7 %}">Wave 7</a> - Started Mon, July 15th</li>
			<li><a href="{% url 'subjects_dashboard' 8 %}">Wave 8</a> - Started Mon, July 22nd</li>
			<li><a href="{% url 'subjects_dashboard' 9 %}">Wave 9</a> - Started Mon, July 29th</li>
			<li><a href="{% url 'subjects_dashboard' 10 %}">Wave 10</a> - Started Mon, Aug 5th</li>
			<li><a href="{% url 'subjects_dashboard' 11 %}">Wave 11</a> - Started Mon, Aug 12th</li>
		</ul>
	</li>
	<li>Participants:
		<ul>
			<li><a class="text-danger" href="{% url 'subjects_recruit' %}"><strong>ENROLL</strong></a></li>
			<li><a href="{% url 'subjects_all' %}">Current</a></li>
		</ul>
	</li>
	<li>Messages:
		<ul>
			<li><a href="{% url 'sms_inbox' %}">Incoming</a></li>
			<li><a href="{% url 'sms_queue' %}">Scheduled To Be Sent</a></li>
			<li><a href="{% url 'sms_sent' %}">Previously Sent</a></li>
		</ul>
	</li>
	<!-- <li><a href="{% url 'all_links' %}">Shortened Links</a></li> -->
	<li>Survey:
		<ul>
			<li><a href="{% url 'survey_test' %}">Test</a></li>
		</ul>
	</li>
	<li>Downloads:
		<ul>
			<li><a href="{% url 'subjects_download' %}">Subject Data</a></li>
			<li><a href="{% url 'survey_download' %}">Download Survey Data</a></li>
			<li><a href="https://docs.google.com/document/d/1HrpTGidJ62Gsk3JheTrV6oYpjg93tuLZhccx3IWK2Gg" target="_blank">Data Dictionary (codebook)</a> - Variables shown in red</li>
		</ul>
	</li>
</ul>
</div>
{% endblock content %}
