{% extends "home/base.html" %}
{% load static %}
{% load auth_extras %}
{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li class="breadcrumb-item active">Study Participants - Current</li>
</ol>

<h2>Study Participants</h2>
<a class="btn btn-lg btn-success mt-3 pl-5 pr-5" href="{% url 'subjects_recruit' %}" role="button">Enroll</a>
<ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
	<li class="nav-item">
	    <a class="nav-link active" id="tab-acct_active" data-toggle="tab" href="#acct_active" role="tab" aria-controls="acct_active" aria-selected="true">Active ({{ subjects_active.count }})</strong></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="tab-acct_optout" data-toggle="tab" href="#acct_optout" role="tab" aria-controls="acct_optout" aria-selected="false">Inactive ({{ subjects_inactive.count }})</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="tab-acct_test" data-toggle="tab" href="#acct_test" role="tab" aria-controls="acct_test" aria-selected="false">Test ({{ subjects_test.count }})</a>
	</li>
	{% if request.user|has_group:"supers" %} 
	<li class="nav-item">
		<a class="nav-link" id="tab-acct_deleted" data-toggle="tab" href="#acct_deleted" role="tab" aria-controls="acct_deleted" aria-selected="false">Deleted ({{ subjects_deleted.count }})</a>
	</li>
	{% endif %}
</ul>

<div class="tab-content mt-3" id="myTabContent">

	<!-- Active users tab -->
	<div class="tab-pane fade show active" id="acct_active" role="tabpanel" aria-labelledby="tab-acct_active">
		<h3>Active ({{ subjects_active.count }})</h3>
		<div class="table-responsive">
		<table class="table table-sm table-hover table-bordered bg-white mt-4">
		<thead class="thead-light"><tr><th>Study Id</th><th>Name</th><th>Phone</th><th>Clincard</th><th>Interviewer @ Location</th><th>Recruited Date</th><th>Lang</th></tr></thead>
		<tbody>
		{% for subject in subjects_active %}
		<tr>
		<td>{{ subject.study_id }}</td>
		<td><a href="{% url 'subject_details' subject.study_id %}">{{ subject.fullname }} </a></td>
		<td>{{ subject.phone_number }}</td>
		<td>{{ subject.clincard_number }}</td>
		<td>{{ subject.recruited_by.first_name }} @ {{ subject.recruited_location }}</td>
		<td>{{ subject.recruited_date|date:'Y-m-d' }}</td>
		<td><img src="{% static 'subjects/' %}{{subject.language}}.png" style="height:25px;"/></td>
		</tr>
	 	{% endfor %}
	 	</tbody>
	 	</table>
	 	</div>
	</div>

	<!-- Opt-out users tab -->
	<div class="tab-pane fade" id="acct_optout" role="tabpanel" aria-labelledby="tab-acct_optout">
		<h3>Inactive - Opted-Out ({{ subjects_inactive.count }})</h3>
		<div class="table-responsive">
		<table class="table table-sm table-hover table-bordered bg-white mt-4">
		<thead class="thead-light"><tr><th>Study Id</th><th>Name</th><th>Phone</th><th>Clincard</th><th>Interviewer @ Location</th><th>Recruited Date</th><th>Lang</th></tr></thead>
		<tbody>
		{% for subject in subjects_inactive %}
		<tr>
		<td>{{ subject.study_id }}</td>
		<td><a href="{% url 'subject_details' subject.study_id %}">{{ subject.fullname }} </a></td>
		<td>{{ subject.phone_number }}</td>
		<td>{{ subject.clincard_number }}</td>
		<td>{{ subject.recruited_by.first_name }} @ {{ subject.recruited_location }}</td>
		<td>{{ subject.recruited_date|date:'Y-m-d' }}</td>
		<td><img src="{% static 'subjects/' %}{{subject.language}}.png" style="height:25px;"/></td>
		</tr>
	 	{% endfor %}
	 	</tbody>
	 	</table>
	 	</div>
	</div>

	<!-- Test users tab -->
	<div class="tab-pane fade" id="acct_test" role="tabpanel" aria-labelledby="tab-acct_test">
		<h3>Test (BeeLab) ({{ subjects_test.count }})</h3>
		<div class="table-responsive">
		<table class="table table-sm table-hover table-bordered bg-white mt-4">
		<thead class="thead-light"><tr><th>Study Id</th><th>Name</th><th>Phone</th><th>Clincard</th><th>Interviewer @ Location</th><th>Recruited Date</th><th>Lang</th></tr></thead>
		<tbody>
		{% for subject in subjects_test %}
		<tr>
		<td>{{ subject.study_id }}</td>
		<td><a href="{% url 'subject_details' subject.study_id %}">{{ subject.fullname }} </a></td>
		<td>{{ subject.phone_number }}</td>
		<td>{{ subject.clincard_number }}</td>
		<td>{{ subject.recruited_by.first_name }} @ {{ subject.recruited_location }}</td>
		<td>{{ subject.recruited_date|date:'Y-m-d' }}</td>
		<td><img src="{% static 'subjects/' %}{{subject.language}}.png" style="height:25px;"/></td>
		</tr>
	 	{% endfor %}
	 	</tbody>
		</table>
		</div>
	</div>

	<!-- Deleted users tab -->
	<div class="tab-pane fade" id="acct_deleted" role="tabpanel" aria-labelledby="tab-acct_deleted">
		<h3>Deleted ({{ subjects_deleted.count }})</h3>
		<div class="table-responsive">
		<table class="table table-sm table-hover table-bordered bg-white mt-4">
		<thead class="thead-light"><tr><th>Study Id</th><th>Name</th><th>Phone</th><th>Clincard</th><th>Interviewer @ Location</th><th>Recruited Date</th><th>Lang</th></tr></thead>
		<tbody>
		{% for subject in subjects_deleted %}
		<tr>
		<td>{{ subject.study_id }}</td>
		<td><a href="{% url 'subject_details' subject.study_id %}">{{ subject.fullname }} </a></td>
		<td>{{ subject.phone_number }}</td>
		<td>{{ subject.clincard_number }}</td>
		<td>{{ subject.recruited_by.first_name }} @ {{ subject.recruited_location }}</td>
		<td>{{ subject.recruited_date|date:'Y-m-d' }}</td>
		<td><img src="{% static 'subjects/' %}{{subject.language}}.png" style="height:25px;"/></td>
		</tr>
	 	{% endfor %}
	 	</tbody>
	 	</table>
	 	</div>
	</div>

</div>

{% endblock content %}
