{% extends "home/base.html" %}
{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li class="breadcrumb-item active">Study Subjects</li>
</ol>

<div class="content-section mb-5 mt-4">
	<table class="table table-sm table-hover table-bordered bg-white">
	<h3>Active Subjects ({{ subjects_active.count }})</h3>
	<thead class="thead-light"><tr><th>#</th><th>Name</th><th>Study Id</th>	<th>Primary Ph</th><th>Interviewer</th><th>Location</th><th>Recruited Date</th><th>Language</th></tr></thead>
	<tbody>
	{% for subject in subjects_active %}
	<tr>
	<td>{{ forloop.counter }} </td>
	<td><a href="{% url 'subject_details' subject.study_id %}">{{ subject.first_name }} {{  subject.last_name }} </a></td>
	<td>{{ subject.study_id }}</td>
	<td>{{ subject.phone_1 }}</td>
	<td>{{ subject.recruited_by }}</td>
	<td>{{ subject.recruited_location }}</td>
	<td>{{ subject.recruited_date|date:'Y-m-d' }}</td>
	<td>{{ subject.lang }}</td>
	</tr>
 	{% endfor %}
 	</tbody>
 </table>
</div>
<div class="content-section mb-5">
	<table class="table table-sm table-hover table-bordered bg-white">
	<h3>Inactive Subjects ({{ subjects_inactive.count }})</h3>
	<thead class="thead-light"><tr><th>#</th><th>Name</th><th>Study Id</th>	<th>Primary Ph</th><th>Interviewer</th><th>Location</th><th>Recruited Date</th><th>Language</th></tr></thead>
	<tbody>
	{% for subject in subjects_inactive %}
	<tr>
	<td>{{ forloop.counter }} </td>
	<td><a href="{% url 'subject_details' subject.study_id %}">{{ subject.first_name }} {{  subject.last_name }} </a></td>
	<td>{{ subject.study_id }}</td>
	<td>{{ subject.phone_1 }}</td>
	<td>{{ subject.recruited_by }}</td>
	<td>{{ subject.recruited_location }}</td>
	<td>{{ subject.recruited_date|date:'Y-m-d' }}</td>
	<td>{{ subject.lang }}</td>
	</tr>
 	{% endfor %}
 	</tbody>
 </table>
</div>
<div class="content-section mb-5">
	<table class="table table-sm table-hover table-bordered bg-white">
	<h3>Test Subjects ({{ subjects_test.count }})</h3>
	<thead class="thead-light"><tr><th>#</th><th>Name</th><th>Study Id</th>	<th>Primary Ph</th><th>Interviewer</th><th>Location</th><th>Recruited Date</th><th>Language</th></tr></thead>
	<tbody>
	{% for subject in subjects_test %}
	<tr>
	<td>{{ forloop.counter }} </td>
	<td><a href="{% url 'subject_details' subject.study_id %}">{{ subject.first_name }} {{  subject.last_name }} </a></td>
	<td>{{ subject.study_id }}</td>
	<td>{{ subject.phone_1 }}</td>
	<td>{{ subject.recruited_by }}</td>
	<td>{{ subject.recruited_location }}</td>
	<td>{{ subject.recruited_date|date:'Y-m-d' }}</td>
	<td>{{ subject.lang }}</td>
	</tr>
 	{% endfor %}
 	</tbody>
 </table>
</div>

{% endblock content %}
