{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="{% url 'subjects_all' %}">Study Participants</a></li>
  <li class="breadcrumb-item active">{{ subject.first_name }} {{ subject.last_name }}</li>
</ol>

<div class="content-section mt-4">
	<h3><span class="badge badge-danger">{{ subject.study_id }}</span></h3>
	<h2>{{ subject.first_name }} {{ subject.last_name }} {% if not subject.deleted %}<a class="ml-2" href="{% url 'subject_edit' study_id=subject.study_id %}"><img src="{% static 'subjects/edit.png' %}"/></a>{% endif %}</h2>
	<h4>
		<img src="{% static 'subjects/' %}{{subject.language}}.png" style="height:25px;"/>
		<span class="badge badge-dark">Ph: {{ subject.phone_number }}</span>
		<span class="badge badge-dark">CC: {{ subject.clincard_number }}</span></h4>
	<h4>	
		{% if subject.test_account %}
			<span class="badge badge-warning">BeeLab Account</span>
		{% endif %}
		{% if subject.optout %}
			<span class="badge badge-warning">OPTED-OUT</span>
		{% endif %}
		{% if subject.deleted %}
			<span class="badge badge-warning">DELETED</span>
		{% endif %}
	</h4>
	<h5><span class="badge badge-light">Recruited by {{ subject.recruited_by.first_name }} {{ subject.recruited_by.last_name }} on {{subject.recruited_date|date:'M d, Y' }} at {{ subject.recruited_location }}</span></h5>
	<br/>
        
    <ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
		    <a class="nav-link active" id="tab-chat" data-toggle="tab" href="#chat" role="tab" aria-controls="chat" aria-selected="true">Chat History</strong></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tab-queue" data-toggle="tab" href="#queue" role="tab" aria-controls="queue" aria-selected="false">Message Q</a>
		</li>
		{% if subject.optout != 1 and subject.deleted != 1 %}
		<li class="nav-item">
			<a class="nav-link" id="tab-sms" data-toggle="tab" href="#sms" role="tab" aria-controls="sms" aria-selected="false">Send Text</a>
		</li>
		{% endif %}
		{% if subject.notes %}
			<li class="nav-item">
				<a class="nav-link" id="tab-notes" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">Notes</a>
			</li>
		{% endif %}
		{% if subject.schedule_study_id %}
			<li class="nav-item">
				<a class="nav-link" id="tab-schedule" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="false">Status <span class="badge badge-success">new</span></a>
			</li>
		{% endif %}

	</ul>

	<div class="tab-content mt-4" id="myTabContent">

	    <!-- Chat History tab -->
		<div class="tab-pane fade show active" id="chat" role="tabpanel" aria-labelledby="tab-chat">
    		<h5>Chat History</h5>
		   	{% if chat.count == 0 %}
	    		<p class="pl-3 text-info">* None</p>
	    	{% else %}
	    		<div class="table-responsive">
	        	<table class="table table-sm table-hover table-bordered bg-white">
		    	<thead class="thead-light"><tr><th scope="col">Time</th><th scope="col">Message</th><th scope="col">Sender</th></tr></thead>
		    	<tbody>
	    		{% for msg in chat %}
	    			<!-- If incoming message -->
			    	{% if msg.1 == 1 %}
			    		<!-- If incoming message is not processed -->
			    		{% if msg.5 == 0 %}
			    			<tr class="bg-danger text-white">
			    		{% else %}
							<tr class="bg-primary text-white">
			    		{% endif %}
			    	{% else %}
			    		<tr>
			    	{% endif %}
			     	
			     	<td style="width:11em;">{{ msg.0|date:'M jS, g:i a'}}</td>
			     	
			     	<!-- If incoming message -->
			     	{% if msg.1 == 1 %}	  	
			     		<td colspan="2">{{ msg.2 }}</td>
			     	{% else %}
			     		<td>{{ msg.2 }}</td>
			     		{% if msg.4 == 'auto' %}
			     			<td>Auto</td>
			     		{% else %}
			     			<td>{{ msg.3.first_name }} {{ msg.3.last_name|first }}</td>
			     		{% endif %}
			    	{% endif %}
			    	</tr>
		     	{% endfor %}
	    		</tbody>
		   		</table>
		   		</div>
	    	{% endif %}
    	</div>

		<!-- Queue tab -->
		<div class="tab-pane fade" id="queue" role="tabpanel" aria-labelledby="tab-queue">
			<h5>Messages in Queue</h5>
			{% if msgs_queue.count == 0 %}
				<p class="pl-3 text-info">* None</p>
				{% else %}
				<div class="table-responsive">
				<table class="table table-sm table-hover table-bordered bg-white">
					<thead class="thead-light"><tr><th>Scheduled</th><th>Message</th></tr></thead>
					<tbody>
						{% for msg in msgs_queue %}
							<tr>
								<td>{{ msg.send_after|date:'M jS, g:i a'}}</td>
								<td><span onmouseover="{{msg.from_phone}}">{{ msg.message}}</span></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				</div>
			{% endif %}
		</div>

		<!-- SMS tab -->
		<div class="tab-pane fade" id="sms" role="tabpanel" aria-labelledby="tab-sms">
			{% if form != None %}
				<h5>Send text message to {{ subject.first_name }} in <span class="text-danger">{{ subject.lang }}</span></h5>
				<form action="." method="post">
				{% csrf_token %}
				<input type="hidden" name="to_phone" value={{ subject.phone }} />
				<input type="hidden" name="study_id" value={{ subject.study_id }} />
				<div class="pl-3">{{ form|crispy }}</div>
				<span class="text-danger">* Check for correctness and grammar, and click the button below only once.</span>
				<br/><br/>
				<input type="submit" class="btn btn-success btn-lg" value="CLICK TO SEND TEXT MESSAGE">
				</form>
				<hr/>
			{% else %}
				<h5 class="text-danger p-2 m-2">This user has opted-out of the study and cannot be messaged</h5>
			{% endif %}
		</div>

		<!-- Notes tab -->
		<div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="tab-notes">
			<h5>Notes:</h5>
			<h6 class="alert alert-warning">
			{{ subject.notes|linebreaks }}
			</h6>
		</div>

		<!-- Study schedule -->
		<div class="tab-pane fade" id="schedule" role="tabpanel" aria-labelledby="tab-schedule">
			<h5> Started on {{ subject.schedule_study_id.wk1_d1_survey_1.start_datetime|date:'M d, Y' }}. Cohort  {{ subject.schedule_study_id.cohort }} </h5>

			<div class="table-responsive">
				<table class="table table-sm table-hover table-bordered bg-white">
					<thead class="thead-light"><tr><th>Survey</th><th>Type</th><th>Status</th></tr></thead>
					<tbody>
						<!-- Week 1 -->
						<tr>
							<td>Week 1 - {{ subject.schedule_study_id.wk1_d1_survey_1.start_datetime|date:"D, M dS Y @ P" }} - #1 </td>
							<td>{{ subject.schedule_study_id.wk1_d1_survey_1.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk1_d1_survey_1.progress }}</td>
						</tr>
						<tr>
							<td>Week 1 - {{ subject.schedule_study_id.wk1_d1_survey_2.start_datetime|date:"D, M dS Y @ P" }} - #2 </td>
							<td>{{ subject.schedule_study_id.wk1_d1_survey_2.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk1_d1_survey_2.progress }}</td>
						</tr>
						<tr>
							<td>Week 1 - {{ subject.schedule_study_id.wk1_d1_survey_3.start_datetime|date:"D, M dS Y @ P" }} - #3 </td>
							<td>{{ subject.schedule_study_id.wk1_d1_survey_3.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk1_d1_survey_3.progress }}</td>
						</tr>
						<tr>
						<td>Week 1 - {{ subject.schedule_study_id.wk1_d1_survey_4.start_datetime|date:"D, M dS Y @ P" }} - #4 </td>
							<td>{{ subject.schedule_study_id.wk1_d1_survey_4.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk1_d1_survey_4.progress }}</td>
						</tr>
						<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
						<tr>
							<td>Week 1 - {{ subject.schedule_study_id.wk1_d2_survey_1.start_datetime|date:"D, M dS Y @ P" }} - #1 </td>
							<td>{{ subject.schedule_study_id.wk1_d2_survey_1.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk1_d2_survey_1.progress }}</td>
						</tr>
						<tr>
							<td>Week 1 - {{ subject.schedule_study_id.wk1_d2_survey_2.start_datetime|date:"D, M dS Y @ P" }} - #2 </td>
							<td>{{ subject.schedule_study_id.wk1_d2_survey_2.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk1_d2_survey_2.progress }}</td>
						</tr>
						<tr>
							<td>Week 1 - {{ subject.schedule_study_id.wk1_d2_survey_3.start_datetime|date:"D, M dS Y @ P" }} - #3 </td>
							<td>{{ subject.schedule_study_id.wk1_d2_survey_3.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk1_d2_survey_3.progress }}</td>
						</tr>
						<tr>
						<td>Week 1 - {{ subject.schedule_study_id.wk1_d2_survey_4.start_datetime|date:"D, M dS Y @ P" }} - #4 </td>
							<td>{{ subject.schedule_study_id.wk1_d2_survey_4.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk1_d2_survey_4.progress }}</td>
						</tr>
						<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
						<!-- Week 2 -->
						<tr>
							<td>Week 2 - {{ subject.schedule_study_id.wk2_d1_survey_1.start_datetime|date:"D, M dS Y @ P" }} - #1 </td>
							<td>{{ subject.schedule_study_id.wk2_d1_survey_1.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk2_d1_survey_1.progress }}</td>
						</tr>
						<tr>
							<td>Week 2 - {{ subject.schedule_study_id.wk2_d1_survey_2.start_datetime|date:"D, M dS Y @ P" }} - #2 </td>
							<td>{{ subject.schedule_study_id.wk2_d1_survey_2.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk2_d1_survey_2.progress }}</td>
						</tr>
						<tr>
							<td>Week 2 - {{ subject.schedule_study_id.wk2_d1_survey_3.start_datetime|date:"D, M dS Y @ P" }} - #3 </td>
							<td>{{ subject.schedule_study_id.wk2_d1_survey_3.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk2_d1_survey_3.progress }}</td>
						</tr>
						<tr>
						<td>Week 2 - {{ subject.schedule_study_id.wk2_d1_survey_4.start_datetime|date:"D, M dS Y @ P" }} - #4 </td>
							<td>{{ subject.schedule_study_id.wk2_d1_survey_4.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk2_d1_survey_4.progress }}</td>
						</tr>
						<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
						<tr>
							<td>Week 2 - {{ subject.schedule_study_id.wk2_d2_survey_1.start_datetime|date:"D, M dS Y @ P" }} - #1 </td>
							<td>{{ subject.schedule_study_id.wk2_d2_survey_1.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk2_d2_survey_1.progress }}</td>
						</tr>
						<tr>
							<td>Week 2 - {{ subject.schedule_study_id.wk2_d2_survey_2.start_datetime|date:"D, M dS Y @ P" }} - #2 </td>
							<td>{{ subject.schedule_study_id.wk2_d2_survey_2.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk2_d2_survey_2.progress }}</td>
						</tr>
						<tr>
							<td>Week 2 - {{ subject.schedule_study_id.wk2_d2_survey_3.start_datetime|date:"D, M dS Y @ P" }} - #3 </td>
							<td>{{ subject.schedule_study_id.wk2_d2_survey_3.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk2_d2_survey_3.progress }}</td>
						</tr>
						<tr>
						<td>Week 2 - {{ subject.schedule_study_id.wk2_d2_survey_4.start_datetime|date:"D, M dS Y @ P" }} - #4 </td>
							<td>{{ subject.schedule_study_id.wk2_d2_survey_4.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk2_d2_survey_4.progress }}</td>
						</tr>
						<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
						<!-- Week 3 -->
						<tr>
							<td>Week 3 - {{ subject.schedule_study_id.wk3_d1_survey_1.start_datetime|date:"D, M dS Y @ P" }} - #1 </td>
							<td>{{ subject.schedule_study_id.wk3_d1_survey_1.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk3_d1_survey_1.progress }}</td>
						</tr>
						<tr>
							<td>Week 3 - {{ subject.schedule_study_id.wk3_d1_survey_2.start_datetime|date:"D, M dS Y @ P" }} - #2 </td>
							<td>{{ subject.schedule_study_id.wk3_d1_survey_2.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk3_d1_survey_2.progress }}</td>
						</tr>
						<tr>
							<td>Week 3 - {{ subject.schedule_study_id.wk3_d1_survey_3.start_datetime|date:"D, M dS Y @ P" }} - #3 </td>
							<td>{{ subject.schedule_study_id.wk3_d1_survey_3.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk3_d1_survey_3.progress }}</td>
						</tr>
						<tr>
						<td>Week 3 - {{ subject.schedule_study_id.wk3_d1_survey_4.start_datetime|date:"D, M dS Y @ P" }} - #4 </td>
							<td>{{ subject.schedule_study_id.wk3_d1_survey_4.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk3_d1_survey_4.progress }}</td>
						</tr>
						<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
						<tr>
							<td>Week 3 - {{ subject.schedule_study_id.wk3_d2_survey_1.start_datetime|date:"D, M dS Y @ P" }} - #1 </td>
							<td>{{ subject.schedule_study_id.wk3_d2_survey_1.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk3_d2_survey_1.progress }}</td>
						</tr>
						<tr>
							<td>Week 3 - {{ subject.schedule_study_id.wk3_d2_survey_2.start_datetime|date:"D, M dS Y @ P" }} - #2 </td>
							<td>{{ subject.schedule_study_id.wk3_d2_survey_2.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk3_d2_survey_2.progress }}</td>
						</tr>
						<tr>
							<td>Week 3 - {{ subject.schedule_study_id.wk3_d2_survey_3.start_datetime|date:"D, M dS Y @ P" }} - #3 </td>
							<td>{{ subject.schedule_study_id.wk3_d2_survey_3.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk3_d2_survey_3.progress }}</td>
						</tr>
						<tr>
						<td>Week 3 - {{ subject.schedule_study_id.wk3_d2_survey_4.start_datetime|date:"D, M dS Y @ P" }} - #4 </td>
							<td>{{ subject.schedule_study_id.wk3_d2_survey_4.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk3_d2_survey_4.progress }}</td>
						</tr>
						<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
						<!-- Week 4 -->
						<tr>
							<td>Week 4 - {{ subject.schedule_study_id.wk4_d1_survey.start_datetime|date:"D, M dS Y @ P" }}</td>
							<td>{{ subject.schedule_study_id.wk4_d1_survey.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk4_d1_survey.progress }}</td>
						</tr>
						<tr>
							<td>Week 4 - {{ subject.schedule_study_id.wk4_d2_survey.start_datetime|date:"D, M dS Y @ P" }} (Reminder 1)</td>
							<td>{{ subject.schedule_study_id.wk4_d2_survey.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk4_d2_survey.progress }}</td>
						</tr>
						<tr>
							<td>Week 4 - {{ subject.schedule_study_id.wk4_d3_survey.start_datetime|date:"D, M dS Y @ P" }} (Reminder 2)</td>
							<td>{{ subject.schedule_study_id.wk4_d3_survey.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk4_d3_survey.progress }}</td>
						</tr>
						<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
						<!-- Week 14 -->
						<tr>
							<td>Week 14 - {{ subject.schedule_study_id.wk14_d1_survey.start_datetime|date:"D, M dS Y @ P" }}</td>
							<td>{{ subject.schedule_study_id.wk14_d1_survey.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk14_d1_survey.progress }}</td>
						</tr>
						<tr>
							<td>Week 14 - {{ subject.schedule_study_id.wk14_d2_survey.start_datetime|date:"D, M dS Y @ P" }} (Reminder 1)</td>
							<td>{{ subject.schedule_study_id.wk14_d2_survey.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk14_d2_survey.progress }}</td>
						</tr>
						<tr>
							<td>Week 14 - {{ subject.schedule_study_id.wk14_d3_survey.start_datetime|date:"D, M dS Y @ P" }} (Reminder 2)</td>
							<td>{{ subject.schedule_study_id.wk14_d3_survey.survey_type }}</td>
							<td>{{ subject.schedule_study_id.wk14_d3_survey.progress }}</td>
						</tr>
						<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>
{% endblock content %}
