{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="{% url 'subjects_all' %}">Study Subjects</a></li>
  <li class="breadcrumb-item active">{{ subject.first_name }} {{ subject.last_name }}</li>
</ol>

<div class="content-section mt-4">
	<h1>{{ subject.first_name }} {{ subject.last_name }}</h1>
	<h6>Study Id: {{ subject.study_id }}</h6>
	<h6>Phone Number: {{ subject.phone_number }}</h6>
	<h6>Recruited by {{ subject.recruited_by.first_name }} {{ subject.recruited_by.last_name }} on {{subject.recruited_date|date:'M d, Y' }} at {{ subject.recruited_location }}</h6>
	<h6>Language: {{ subject.lang }}</h6>
	{% if subject.optout %}
		<div class="alert-danger p-2 m-2">
		<p>
			Opted-out of the study on {{ subject.optout_date }}<br/>
			Reason: {{ subject.optout_reason }}</p>
		</div>
	{% endif %}
	<br/>
        
    <ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
		    <a class="nav-link active" id="tab-chat" data-toggle="tab" href="#chat" role="tab" aria-controls="chat" aria-selected="true">Chat History</strong></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tab-queue" data-toggle="tab" href="#queue" role="tab" aria-controls="queue" aria-selected="false">Message Q</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tab-sms" data-toggle="tab" href="#sms" role="tab" aria-controls="sms" aria-selected="false">Text {{ subject.first_name }}</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tab-settings" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
		</li>

	</ul>

	<div class="tab-content mt-4" id="myTabContent">

	    <!-- Active tab -->
		<div class="tab-pane fade show active" id="chat" role="tabpanel" aria-labelledby="tab-chat">
    		<h5>Chat History</h5>
		   	{% if chat.count == 0 %}
	    		<p class="pl-3 text-info">* None</p>
	    	{% else %}
	        	<table class="table table-sm table-hover table-bordered bg-white">
		    	<thead class="thead-light"><tr><th scope="col">Time</th><th scope="col">Message</th><th scope="col">Sender</th></tr></thead>
		    	<tbody>
	    		{% for msg in chat %}
	    			<!-- If incoming message -->
			    	{% if msg.1 == 1 %}
			    		<!-- If incoming message is not processed -->
			    		{% if msg.5 == 0 %}
			    			<tr class="bg-danger text-white">
			    		{% else %}
							<tr class="bg-primary text-white">
			    		{% endif %}
			    	{% else %}
			    		<tr>
			    	{% endif %}
			     	
			     	<td style="width:11em;">{{ msg.0|date:'M jS, g:i a'}}</td>
			     	
			     	<!-- If incoming message -->
			     	{% if msg.1 == 1 %}	  	
			     		<td colspan="2">{{ msg.2 }}</td>
			     	{% else %}
			     		<td>{{ msg.2 }}</td>
			     		{% if msg.4 == 'auto' %}
			     			<td>Auto</td>
			     		{% else %}
			     			<td>{{ msg.3.first_name }} {{ msg.3.last_name|first }}</td>
			     		{% endif %}
			    	{% endif %}
			    	</tr>
		     	{% endfor %}
	    		</tbody>
		   		</table>
	    	{% endif %}
    	</div>

		<!-- Queue tab -->
		<div class="tab-pane fade" id="queue" role="tabpanel" aria-labelledby="tab-queue">
			<h5>Messages in Queue</h5>
			{% if msgs_queue.count == 0 %}
				<p class="pl-3 text-info">* None</p>
				{% else %}
				<table class="table table-sm table-hover table-bordered bg-white">
					<thead class="thead-light"><tr><th>Scheduled</th><th>Message</th></tr></thead>
					<tbody>
						{% for msg in msgs_queue %}
							<tr>
								<td>{{ msg.send_after|date:'M jS, g:i a'}}</td>
								<td><span onmouseover="{{msg.from_phone}}">{{ msg.message}}</span></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>

		<!-- SMS tab -->
		<div class="tab-pane fade" id="sms" role="tabpanel" aria-labelledby="tab-sms">
			{% if form != None %}
				<h5>Send New Message to</h5>
				<h6 class="pl-3">{{ subject.first_name }} {{ subject.last_name }}</h6>
				<h6 class="pl-3">Phone: {{ subject.phone_number }}</h6>
				<form action="." method="post">
				{% csrf_token %}
				<input type="hidden" name="to_phone" value={{ subject.phone }} />
				<input type="hidden" name="study_id" value={{ subject.study_id }} />
				<div class="pl-3">{{ form|crispy }}</div>
				<span class="text-danger">* Check for correctness and grammar, and click the button below only once.</span>
				<br/><br/>
				<input type="submit" class="btn btn-warning btn-lg" value="CLICK TO SEND TEXT MESSAGE">
				</form>
				<hr/>
			{% else %}
				<h5 class="text-danger p-2 m-2">This user has opted-out of the study and cannot be messaged</h5>
			{% endif %}
		</div>

		<!-- Settings tab -->
		<div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="tab-settings">
			<input type="submit" class="btn btn-secondary" value="Send test survey">
			<br/><br/>
			<input type="submit" class="btn btn-info" value="Opt-out user">
			<br/><br/>
			<input type="submit" class="btn btn-warning" value="Pause all texts">
			<br/><br/>
			<input type="submit" class="btn btn-danger" value="Delete user">
		</div>
	</div>
</div>
{% endblock content %}
