{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="{% url 'subjects_all' %}">Study Participants</a></li>
  <li class="breadcrumb-item active">{{ subject.fullname }} (Edit)</li>
</ol>

<div class="content-section mt-4">
	<h5>Edit information for {{ subject.fullname }}</h5>
	<form action="." method="post">
		{% csrf_token %}
		<div class="pl-3">{{ form|crispy }}</div>
		<br/>
		<div class="row">
			<input type="submit" class="btn btn-lg btn-success pl-5 pr-5" value="SAVE">
			<a class="btn btn-lg btn-outline-info ml-3" href="{% url 'subject_details' subject.study_id %}" role="button">Cancel</a>
		</div>
	</form>
{% endblock content %}
