{% extends "home/base.html" %}
{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li class="breadcrumb-item active">Shortened URLs</li>
</ol>

<div class="content-section mt-4">
	<h3>Shortened URLs</h3>
	<table class="table table-sm table-hover table-bordered bg-white">
	<caption>
		<p><a class="btn btn-outline-info btn-sm" href="{% url 'dashboard' %}">Back to Dashboard</a></p>
	</caption>
	<thead class="thead-light"><tr><th>#</th><th>Long URL</th><th>Short URL</th></tr></thead>
	<tbody>
	{% for link in links %}
	{% with site|add:link.url_short as bitly_url %}
	<tr>
		<td>{{ forloop.counter }}</td>
 		<td>{{ link.url_long }}</td>
 		<td><a href="{{ bitly_url }}" target="_blank">{{ bitly_url }} </a></td>
 	</tr>
 	{% endwith %}
 	{% endfor %}
 	</tbody>
 </table>
</div>
{% endblock content %}
